.App {
  height: 100vh;
  overflow: scroll;
  padding: 1rem;

  background: rgb(4, 58, 125);
  background: linear-gradient(
    90deg,
    rgba(4, 58, 125, 1) 59%,
    rgba(87, 190, 84, 1) 92%
  );
}

.App h1 {
  color: #fff;
}
